# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

.project
tmp

public/uploads/
public/*.DS_Store
.DS_Store
/*.DS_Store

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/*

# Ignore other unneeded files.
doc/
*.swp
*~