<h3><%=link_to "Click here to start", galleries_path %></h3>
<h2>
<br/><br/>	
	<!--%= link_to "Translator Version","http://plingdemo.herokuapp.com" %-->
<br/><br/>
	<!--%= link_to "Client Version","http://palmlingclient.herokuapp.com"%-->
</h2>
	
	
	